#Домашнє завдання до тем apply(), groupby(), pivot_table()

В цьому домашньому завданні продовжуємо працювати з набором даних `supermarket_sales.csv`.

0. Імпортуйте бібліотеку pandas та зчитайте дані у змінну `df` типу `pandas.DataFrame`.

In [13]:
import pandas as pd
df = pd.read_csv('../data/supermarket_sales.csv')
df.head()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3

1. Дослідимо, який філіал супермаркету ('Branch') є найприбутковішим. Для цього знайдіть сумарний прибуток за кожним філіалом і виявіть, який філіал має найвищий.

In [14]:
df_income = df['gross income'].groupby(df['Branch']).sum().sort_values(ascending=False)
df_income

Branch
C    5265.1765
A    5057.1605
B    5057.0320
Name: gross income, dtype: float64

In [15]:
print(f'Branch {df_income.index[0]} має найвизий прибуток {df_income.iloc[0]}')

Branch C має найвизий прибуток 5265.1765

2. В якому місті знайходиться філіал з найвищим прибутком? Може в тому місці нам розмітисти ще один магазин.  
Знайдіть відповідь за допомогою функціоналу Pandas.

In [16]:
df_city = df.groupby(['Branch', 'City'])['gross income'].sum().sort_values(ascending=False)
print(f'філіал з найвищим прибутком знайходиться y: {df_city.index[0][1]}')

філіал з найвищим прибутком знайходиться y: Naypyitaw

3.1. Створіть зводну таблицю, яка покаже, скільки покупок (інвойсів) було зроблено в кожній з філій (`Branch`) за різними категоріями товарів. Запишіть таблицю в змінну `invoices_by_category` і виведіть змінну на екран.
Ця таблиця допоможе проаналізувати, в якій філії купують найбільше товарів кожної з категорій.

In [17]:
invoices_by_categoty = pd.pivot_table(df, index = 'Branch', columns='Product line', values = 'Invoice ID', aggfunc='count')
invoices_by_categoty

Product line,Electronic accessories,Fashion accessories,Food and beverages,Health and beauty,Home and lifestyle,Sports and travel
Branch,,,,,,
A,60,51,58,47,65,59
B,55,62,50,53,50,62
C,55,65,66,52,45,45

Очікуваний результат:

![](https://drive.google.com/uc?export=view&id=1rueAdko6S3UxIHGtojetTxlES-EyM6Yb)

3.2. Викристовуючи змінну `invoices_by_category` дайте відповідь програмно (тобто значення треба не просто знайти очима, а вивести за допомогою коду), в якому філіалі магазину (`Branch`) найбільше інвойсів із покупкою товарів категорії "Електронні аксесуари" (`Electronic accessories`)?

In [18]:
invoices_by_categoty['Electronic accessories'].sort_values(ascending=False).index[0]

'A'

In [19]:
invoices_by_categoty['Electronic accessories'].idxmax()

'A'

4-6. **Творче завдання на розвиток аналітичного мислення**

Крок 1. Сформулюйте ТРИ питання (гіпотези) до наявних даних, які допомогли б вам зрозуміти, які користувачі що, де та коли найбільше/найменше купують, аби дати на основі цих гіпотез рекомендації бізнесу. Звісно питання мають бути не тими, на які ми вже відповіли в завданнях модулю.

Крок 2. Знайдіть відповіді на свої питання з допомогою функціоналу pandas.

Крок 3. Напишіть, як відповідь на це питання може бути використана для прийняття бізнес рішень.   
   
 Питання можуть бути будь-якої складності, але їх має бути 3. Кожне питання оцінюється як 1 завдання. Без виконання цього завдання ДЗ не приймається. Якщо є питання щодо виконання - пишіть у чат 🙌

## 1. Протестувати гіпотезу що стать впливає на те в якій категорії покупці роблять частиіше покупки

In [24]:
df_gender = pd.pivot_table(df, index = ['Gender', 'City'], columns = 'Product line', values = 'gross income', aggfunc='sum')
df_gender

Product line      Electronic accessories  Fashion accessories  \
Gender City
Female Mandalay                 388.8815             432.4520
       Naypyitaw                427.1055             548.5565
       Yangon                   474.5855             468.3915
Male   Mandalay                 423.0920             349.1345
       Naypyitaw                476.1790             478.1135
       Yangon                   397.6580             309.3470

Product line      Food and beverages  Health and beauty  Home and lifestyle  \
Gender City
Female Mandalay             500.4760           304.7785            455.1015
       Naypyitaw            745.7695           306.9400            373.4730
       Yangon               333.3220           272.1380            601.7530
Male   Mandalay             224.0425           646.6815            380.5730
       Naypyitaw            385.9855           484.2660            288.2200
       Yangon               483.9685           327.7550            465.7325

Product line      Sports and travel
Gender City
Female Mandalay            438.7055
       Naypyitaw           535.5585
       Yangon              386.4370
Male   Mandalay            513.1135
       Naypyitaw           215.0095
       Yangon              536.0725

In [28]:
df_gender['Food and beverages'].Female - df_gender['Food and beverages'].Male

City
Mandalay     276.4335
Naypyitaw    359.7840
Yangon      -150.6465
Name: Food and beverages, dtype: float64

Ми можемо побачити що жінки витрачають на їжу майже на 300 доларів більше (що може бути спричинено тим що вони частіше займаються поутовими справами). Але для міста Yangon статистика протилежна, чоловіки більше витрачають на продукти.
Для більш детального аналізу треба достіди ти розподіл жінок.чоловіків в кожному місті та їх сімейний статус.

МИ можемо зробити більш таргетовану рекламу для кождного міста яка буде націлено окремо або на жінок або на чоловіків (в залежності від того чи ми хочемо збільшити лояльність нашої поточної аудиторії, чи розширити її)

## 2. В якій категорії товарій чоловіки та жінки витрачають найбльге та найменше коштів

In [70]:
df_gender.index

MultiIndex([('Female',  'Mandalay'),
            ('Female', 'Naypyitaw'),
            ('Female',    'Yangon'),
            (  'Male',  'Mandalay'),
            (  'Male', 'Naypyitaw'),
            (  'Male',    'Yangon')],
           names=['Gender', 'City'])

In [96]:
df_sum = df_gender.reset_index(level='City').drop('City', axis=1).groupby('Gender').sum()

In [104]:
df_sum.loc['Female'].sort_values()

Product line
Health and beauty          883.8565
Electronic accessories    1290.5725
Sports and travel         1360.7010
Home and lifestyle        1430.3275
Fashion accessories       1449.4000
Food and beverages        1579.5675
Name: Female, dtype: float64

In [105]:
df_sum.loc['Male'].sort_values()

Product line
Food and beverages        1093.9965
Home and lifestyle        1134.5255
Fashion accessories       1136.5950
Sports and travel         1264.1955
Electronic accessories    1296.9290
Health and beauty         1458.7025
Name: Male, dtype: float64

In [107]:
(df_sum.loc['Female'] - df_sum.loc['Male']).sort_values()

Product line
Health and beauty        -574.8460
Electronic accessories     -6.3565
Sports and travel          96.5055
Home and lifestyle        295.8020
Fashion accessories       312.8050
Food and beverages        485.5710
dtype: float64

Health and beauty це категорія де чоловіки витрачають найбільше, а жінки найменше. Необхідно визначити які саме товати в цій категорії змушують чоловіків витрачати більше. Та треба додатково дослідити чи можуть жінки купити всі необхідні товари в нашому магахині. Можлиов в нас відсутній асортимет аби зацікавити жінок купляти більше в цій категорії

## 3. Визначити як метож оплати впливає на задоволенність покупців

In [48]:
def get_hour(time):
    return time.split(':')[0]

In [60]:
df['Hour'] = df.Time.apply(get_hour)
df['Rating Category'] = df.Rating.apply(lambda x: 'High' if x >= 8 else 'Medium' if x > 6 else 'Low')

In [67]:
df.groupby('Rating Category')[['Payment','gross income']].agg({'Payment': pd.Series.mode, 'gross income': pd.Series.mode}).sort_values(by='Rating Category')

                     Payment       gross income
Rating Category
High             Credit card              12.57
Low                  Ewallet    [4.464, 9.0045]
Medium                  Cash  [10.3635, 22.428]

Найбільш задоволена група кліентів це ті хто робив оплату кредитною карткою. Компанії треба дослідити які проблеми мають люди які оплачували товар готівкою (не було решти, довго розразовувалися...), аби покращити їх задоволення сервісом. Тому що різні способи оплати вимагають різної уваги та деталей на які треба звернути увагу. МОжливо магазину треба створити свою кредитну карточку та пропонвати її кліентам.